flows.json
[
    {
        "id": "62c1dddcffd6d536",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bdb21ad17b668132",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "303f5b3633504d41",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "251a564e2b435ca4",
        "type": "ui_tab",
        "name": "Crest Demo",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8fbc59d4f55f7b30",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "15dd94d77de50808",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "e652e9f53f4b158f",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "15dd94d77de50808",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "8af693e93c0e55e8",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "15dd94d77de50808",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "d7dfd5c572e8458d",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "15dd94d77de50808",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "189762bc331bc3a1",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "15dd94d77de50808",
        "order": 6,
        "width": 5,
        "height": 1
    },
    {
        "id": "e938b4b6313a9147",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "15dd94d77de50808",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "b9c18546487d1828",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "15dd94d77de50808",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "a7dfea486441efca",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "15dd94d77de50808",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "6808852e48d9a2fc",
        "type": "ui_group",
        "name": "FANET Dashboard",
        "tab": "251a564e2b435ca4",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b85b1e21c220615a",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "7c0284a7330d995f",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "70b2213d2c93633c",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "3a7da968f98db176",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "dad372d2e02dbecc",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "656266eb2474c05d",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "42f973cb2b7a4bc0",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "ea8335316a6ff480",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "33f0f1e0cf2eacf4",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "db9e75414b7df823",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "550f20dbd324f4f0",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "bc2b14d9e9ebd91e",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "2ef0f7911ee1aa43",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "a89cb8f819ea7201",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "fbcbbc92e2d693ad",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "16989f59a95c78f7",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "476c302b18ffd5fd",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "5603df4924d87509",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 19,
        "width": 6,
        "height": 1
    },
    {
        "id": "4fd521cee5380440",
        "type": "ui_spacer",
        "z": "62c1dddcffd6d536",
        "name": "spacer",
        "group": "6808852e48d9a2fc",
        "order": 20,
        "width": 30,
        "height": 1
    },
    {
        "id": "45b8acdfbff396a2",
        "type": "mqtt in",
        "z": "62c1dddcffd6d536",
        "name": "",
        "topic": "gcs_recv/length",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bdb21ad17b668132",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "a3758e5c36395505",
                "5e0175a01d7a8ae3"
            ]
        ]
    },
    {
        "id": "a3758e5c36395505",
        "type": "debug",
        "z": "62c1dddcffd6d536",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "5ddcb463a12d8de8",
        "type": "mqtt in",
        "z": "62c1dddcffd6d536",
        "name": "",
        "topic": "uav_recv/length",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bdb21ad17b668132",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "d975ad77d77fec7a",
                "9d6c98e39eff4a27"
            ]
        ]
    },
    {
        "id": "d975ad77d77fec7a",
        "type": "debug",
        "z": "62c1dddcffd6d536",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 340,
        "wires": []
    },
    {
        "id": "0bf353085c6c0b95",
        "type": "ui_chart",
        "z": "62c1dddcffd6d536",
        "name": "",
        "group": "6808852e48d9a2fc",
        "order": 21,
        "width": 15,
        "height": 6,
        "label": "UAV-to-GCS Throughput (bps)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "929a74949fe81a55",
        "type": "function",
        "z": "62c1dddcffd6d536",
        "name": "function 1",
        "func": "msg.payload = msg.totalMsgSize\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 120,
        "wires": [
            [
                "0bf353085c6c0b95"
            ]
        ]
    },
    {
        "id": "a0c5f981eb3da28b",
        "type": "function",
        "z": "62c1dddcffd6d536",
        "name": "function 2",
        "func": "msg.payload = msg.totalMsgSize\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 440,
        "wires": [
            [
                "7c01662f9be8d5cc",
                "2e90d782b36a2990"
            ]
        ]
    },
    {
        "id": "7c01662f9be8d5cc",
        "type": "ui_chart",
        "z": "62c1dddcffd6d536",
        "name": "",
        "group": "6808852e48d9a2fc",
        "order": 22,
        "width": 15,
        "height": 6,
        "label": "GCS-to-UAV Throughput (bps)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2f01dc762131e64f",
        "type": "inject",
        "z": "62c1dddcffd6d536",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "0bf353085c6c0b95",
                "7c01662f9be8d5cc",
                "5f1c60484a1f0e58",
                "e3fd633143f6a2f4"
            ]
        ]
    },
    {
        "id": "5e0175a01d7a8ae3",
        "type": "msg-size",
        "z": "62c1dddcffd6d536",
        "name": "",
        "frequency": "sec",
        "interval": 1,
        "statusContent": "avg",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "humanReadableStatus": true,
        "topicDependent": false,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "929a74949fe81a55"
            ],
            []
        ]
    },
    {
        "id": "9d6c98e39eff4a27",
        "type": "msg-size",
        "z": "62c1dddcffd6d536",
        "name": "",
        "frequency": "sec",
        "interval": 1,
        "statusContent": "avg",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "humanReadableStatus": true,
        "topicDependent": false,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "a0c5f981eb3da28b"
            ],
            []
        ]
    },
    {
        "id": "cd24da1ae487918a",
        "type": "mqtt in",
        "z": "62c1dddcffd6d536",
        "name": "",
        "topic": "gcs_recv/delay",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bdb21ad17b668132",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 520,
        "wires": [
            [
                "98a246ae524b0097",
                "3fd4623cfe0cc0b0"
            ]
        ]
    },
    {
        "id": "98a246ae524b0097",
        "type": "debug",
        "z": "62c1dddcffd6d536",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 520,
        "wires": []
    },
    {
        "id": "5f1c60484a1f0e58",
        "type": "ui_chart",
        "z": "62c1dddcffd6d536",
        "name": "",
        "group": "6808852e48d9a2fc",
        "order": 23,
        "width": 15,
        "height": 6,
        "label": "GCS-to-UAV RTT",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "2e90d782b36a2990",
        "type": "debug",
        "z": "62c1dddcffd6d536",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "3fd4623cfe0cc0b0",
        "type": "function",
        "z": "62c1dddcffd6d536",
        "name": "function 3",
        "func": "msg.payload = msg.payload.msg\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 600,
        "wires": [
            [
                "5f1c60484a1f0e58",
                "d652ecbf42c4e967"
            ]
        ]
    },
    {
        "id": "d652ecbf42c4e967",
        "type": "debug",
        "z": "62c1dddcffd6d536",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "e731c50235ae500c",
        "type": "mqtt in",
        "z": "62c1dddcffd6d536",
        "name": "",
        "topic": "uav_recv/delay",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bdb21ad17b668132",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 700,
        "wires": [
            [
                "e35aaf16f2e12b16",
                "9dc992c2ec0a4849"
            ]
        ]
    },
    {
        "id": "e35aaf16f2e12b16",
        "type": "debug",
        "z": "62c1dddcffd6d536",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 700,
        "wires": []
    },
    {
        "id": "e3fd633143f6a2f4",
        "type": "ui_chart",
        "z": "62c1dddcffd6d536",
        "name": "",
        "group": "6808852e48d9a2fc",
        "order": 24,
        "width": 15,
        "height": 6,
        "label": "UAV-to-GCS RTT",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9dc992c2ec0a4849",
        "type": "function",
        "z": "62c1dddcffd6d536",
        "name": "function 4",
        "func": "msg.payload = msg.payload.msg\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 780,
        "wires": [
            [
                "e3fd633143f6a2f4",
                "1965e3d60df0bd11"
            ]
        ]
    },
    {
        "id": "1965e3d60df0bd11",
        "type": "debug",
        "z": "62c1dddcffd6d536",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 720,
        "wires": []
    },
    {
        "id": "7f1dcf8144e058fb",
        "type": "ui_template",
        "z": "62c1dddcffd6d536",
        "group": "6808852e48d9a2fc",
        "name": "Display video stream",
        "order": 2,
        "width": 18,
        "height": 9,
        "format": "<a href=\"http://192.168.1.106/html/cam_pic_new.php\">\n    <img src=\"http://192.168.1.106/html/cam_pic_new.php\" height=\"100%\" width=\"100%\">\n</a>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 220,
        "wires": [
            []
        ]
    }
]